<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="presentCode()">
          <ion-icon slot="icon-only" name="code"></ion-icon>
      </ion-button>
  </ion-buttons>
  
    <ion-title>Alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button class="button button-block" (click)="presentAlert()">
    Show Alert</ion-button>
    <Br>

  <ion-button class="button button-block" (click)="presentAlertMultipleButtons()">
    Show Alert Multiple Buttons</ion-button>
    <Br>

  <ion-button class="button button-block" (click)="presentAlertConfirm()">
    Show Alert Confirm</ion-button>
    <Br>

  <ion-button class="button button-block" (click)="presentAlertPrompt()">
    Show Alert Prompt</ion-button>
    <Br>

  <ion-button class="button button-block" (click)="presentAlertRadio()">
    Show Alert Radio</ion-button>
    <Br>
  <ion-button class="button button-block" (click)="presentAlertCheckbox()">
    Show Alert Checkbox</ion-button>
    <Br>
                

</ion-content>
