<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
                                
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="presentCode()">
          <ion-icon slot="icon-only" name="code"></ion-icon>
      </ion-button>
  </ion-buttons>
  
    <ion-title>Pop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-nav-push (click)="pop()">
    <ion-button>Push Nav Pop</ion-button>
    </ion-nav-push>
</ion-content>
