<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
                                            
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="presentCode()">
          <ion-icon slot="icon-only" name="code"></ion-icon>
      </ion-button>
  </ion-buttons>
  
    <ion-title size="small">Small Title above a Default Title</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
