<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
                                        
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="presentCode()">
          <ion-icon slot="icon-only" name="code"></ion-icon>
      </ion-button>
  </ion-buttons>
  
    <ion-title>Searchbar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="filterItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item.value }}
    </ion-item>
<br>
<div align="center">
<i><strong>
  Searching 2 arrays at once
</strong></i>
</div>
<br>
    <ion-item *ngFor="let item of items2">
      {{ item.value }}
    </ion-item>
  </ion-list>
</ion-content>
